[submodule "agent/support/rust/flexi_logger"]
	path = agent/support/rust/flexi_logger
	url = https://github.com/bytedance/flexi_logger
[submodule "rasp/pangolin"]
	path = rasp/pangolin
	url = https://github.com/Hackerl/pangolin
[submodule "rasp/python/python-inject/cmake"]
	path = rasp/python/python-inject/cmake
	url = https://github.com/Hackerl/cmake-3rd
[submodule "rasp/jvm/jattach"]
	path = rasp/jvm/jattach
	url = https://github.com/apangin/jattach.git
[submodule "rasp/golang/tiny-regex-c"]
	path = rasp/golang/tiny-regex-c
	url = https://github.com/Hackerl/tiny-regex-c
