[submodule "agent/support/rust/flexi_logger"]
	path = agent/support/rust/flexi_logger
	url = https://github.com/bytedance/flexi_logger
[submodule "rasp/pangolin"]
	path = rasp/pangolin
	url = https://github.com/Hackerl/pangolin
[submodule "rasp/jvm/jattach"]
	path = rasp/jvm/jattach
	url = https://github.com/apangin/jattach.git
[submodule "rasp/util-linux"]
	path = rasp/util-linux
	url = https://github.com/karelzak/util-linux.git
[submodule "rasp/golang/tiny-regex-c"]
	path = rasp/golang/tiny-regex-c
	url = https://github.com/Hackerl/tiny-regex-c
[submodule "plugins/scanner/clamav-mussels-cookbook"]
	path = plugins/scanner/clamav-mussels-cookbook
	url = https://github.com/kulukami/clamav-mussels-cookbook.git
[submodule "rasp/php/tiny-regex-c"]
	path = rasp/php/tiny-regex-c
	url = https://github.com/Hackerl/tiny-regex-c
