[Unit]
Description=Elkeid Service Discovery
Requires=network-online.target

[Service]
ExecStart=/opt/Elkeid_SD/sd
WorkingDirectory=/opt/Elkeid_SD/
LimitNOFILE=655350
Restart=always
RestartSec=2s
KillMode=control-group
KillSignal=INT
TimeoutStopSec=900
UMask=0000

[Install]
WantedBy=multi-user.target
