*.swp
target/
vendor/
.ccls-cache/
.gradle/
bin/
*.lock
*.zip
*.log
*.pyc
output/
*.gz
*.pkg
*.el
*#*
jvm/JVMProbe/build
golang/build
golang/bin
python/python-client/build
python/python-client/bin
python/python-inject/build
python/python-inject/bin
