[Unit]
Description=Elkeid AgentCenter
Requires=network-online.target

[Service]
ExecStart=/opt/Elkeid_AC/agent_center
WorkingDirectory=/opt/Elkeid_AC/
LimitNOFILE=655350
Restart=always
RestartSec=2s
KillMode=control-group
KillSignal=INT
TimeoutStopSec=900
UMask=0000

[Install]
WantedBy=multi-user.target
